@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	// для фиксированного сайта
	// body
	// 	width: 1200px
	.header_modal
		margin-top: 20px
	.intermediate
		.intermediate_wrap
			margin-bottom: 20px
			.intermediate_item
				display: block
				margin: 30px auto 30px
			.modal_form_input_wrap
				display: inline-block
	.header_logo
		margin-top: 50px
		margin-left: 20px
	.header_nav
		margin-top: 64px
		ul
			li
				&:last-of-type
					a
						margin-right: 13px
				a
					font-size: 18px
					margin-right: 36px
	.header_title
		h1
			margin-top: 208px
			margin-left: 21px
	.header_btn, .header_title p
		margin-left: 20px
	.header_title_img
		bottom: -219px
		right: -67px
		img
			width: 81%
			height: auto
			position: relative
			left: 55px
	.header_item_circle
		margin-right: 0px
		&:first-of-type
			margin-left: 0
	h2
		font-size: 32px		
	.reliable_service 
		h2
			margin-top: 133px
	.intermediate
		.intermediate_title
			h2
				margin: 83px 0 11px
	.our_partners
		h2
			margin-top: 140px
		.our_partners_img_wheels
			top: -69px
			left: -10px
	.our_partners_img_wheels
		img
			width: 82%
			height: auto
	.intermediate
		.intermediate_wrap
			form
				margin-top: 0
			input[type=submit]
				margin-left: 0
			.intermediate_item
				margin-top: 10px
				input
					margin-left: 25px
	label.intermediate_item_label
		margin-left: 24px
	.our_partners
		.our_partners_slider
			max-width: 750px
	.hydropower_you_can
		h2
			margin-top: 46px
			margin-bottom: 67px
	.what_customers_think
		.what_customers_think_item_wrap_inner
			&:last-of-type
				.what_customers_think_item
					&:last-of-type
						margin-bottom: 175px	
		.what_customers_think_item_txt
			width: 230px
			h3
				font-size: 20px
				margin-top: 0
			p
				margin-top: 4px
				max-height: 92px
			div.social>a
				font-size: 16px
			div.social>a:before
				transform: scale(0.8)	
		.what_customers_think_item_img
			width: 150px
			height: auto
			margin-right: 15px
		.what_customers_think_item
			margin-bottom: 27px
			&:nth-of-type(2n+1)
				.what_customers_think_item_img
					margin-left: 0
				
	.map
		.map_contacts_item
			p
				font-size: 17px
		#map
			width: 58%
		.map_contacts
			width: 336px
			margin-top: 105px
	.why_wear_out_rail
		.why_wear_out_rail_item
			text-align: center
			h3
				font-size: 19px
				line-height: 1.2
				margin-top: 30px
				margin-bottom: 10px
			p
				font-size: 14px
			.why_wear_out_rail_item_img
				img
					margin: auto

	.repair_if_necessary
		min-height: 500px
		.repair_if_necessary_item
			h3
				font-size: 19px
			p
				font-size: 14px
	.how_do_we_repair
		.how_do_we_repair_item_img
			width: 220px
		.how_do_we_repair_item_txt
			width: 190px
			h3
				font-size: 18px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.header_nav
		display: none
	.header_logo
		display: block
	.header_modal
		margin-top: 40px
	nav[canvas]
		display: block	
	.header_logo
		margin-top: 48px
		margin-left: 13px
	.header_title
		h1
			font-size: 60px
			text-align: center
			margin-top: 192px
			margin-left: 0px
			margin-bottom: 30px
		p
			text-align: center
			margin: 0 auto 0
			font-size: 16px
			max-width: 590px
			line-height: 1.4
	.header_btn
		margin-top: 53px
		text-align: center
		margin-left: 0
	.header_title_img
		bottom: -313px
		img
			width: 67%
			left: 86px
	.header_item_circle
		margin-top: 310px
		.header_item_circle_img
			left: calc(50% - 65px)
			svg
				width: 130px
				height: auto
	.header_item_circle
		span
			font-size: 44px
		p
			font-size: 18px
			margin-top: 0
	.reliable_service
		.reliable_service_item
			p
				font-size: 15px

	.intermediate
		min-height: 470px
		.intermediate_wrap
			.modal_form_input_wrap
				display: block
			.intermediate_item
				margin-top: -10px
				input
					width: 100%
					height: 30px
					font-size: 16px
					margin-left: 0
			input[type=submit]
				width: 221px
				height: 45px
				line-height: 45px
	.diagnostics
		&.intermediate
			-webkit-background-size: cover
			-moz-background-size: cover
			background-size: cover
			
	label.intermediate_item_label
		margin-left: 0
		margin-top: 10px
	.modal_form_input_wrap
		.modal_input_error
			right: -9px
			top: 38px

	.our_partners
		.our_partners_img_wheels
			top: -91px
			left: -17px
		.our_partners_slider
			max-width: 590px
			margin-top: -26px
		.customPrevBtn, .customNextBtn
			transform: scale(0.8)
		.customPrevBtn
			left: -75px
		.customNextBtn
			right: -75px
	.hydropower_you_can
		h2
			margin-top: 20px
		.hydropower_you_can_item
			p
				font-size: 18px
				margin-top: 27px
			a
				width: 100%
				height: 45px
				margin-top: 16px
	.what_customers_think
		.what_customers_think_item_wrap_inner
			&:last-of-type
				.what_customers_think_item
					&:last-of-type
						margin-bottom: 136px
		h2
			margin-top: 0
			line-height: 1.4
		.what_customers_think_item
			margin-bottom: 0
		.what_customers_think_item_img
			width: 110px
		.what_customers_think_item_txt
			width: 215px
			h3
				font-size: 16px
			p
				font-size: 12px
			.what_customers_think_item_action
				a
					font-size: 12px
			div.social>a
				font-size: 12px

	.map
		min-height: 690px
		.map_contacts
			width: 301px
			margin-top: 79px
		#map
			width: 55%
	nav[canvas]
		top: 50px
		right: 30px
		transition: 0.5s
		&.fixed
			top: 12px
	nav[canvas=header_top]
		top: 0
		&.fixed
			height: 70px
			top: 0
			.header_top
				margin-top: 25px
	.how_do_we_repair
		.how_do_we_repair_item
			margin-bottom: 90px
			&:nth-of-type(2n+1)
				.how_do_we_repair_item_img
					margin: auto
					float: none
		.how_do_we_repair_item_txt
			margin: 60px auto 0
			float: none
		.how_do_we_repair_item_img
			margin: auto
			float: none
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	
	.header_title
		h1
			font-size: 30px
			margin-top: 40px
	.header_modal
		margin-top: 40px
	[off-canvas*=left]
		width: 255px
	.header_title_img
		position: static
	nav[canvas]
		top: 50px
		right: 30px
		transition: 0.5s
		&.fixed
			top: 12px

	nav[canvas=header_top]
		top: 0
		&.fixed
			top: 0
	.header_title
		h1
			padding-left: 15px
			padding-right: 15px
			margin: 193px auto 10px
			font-size: 27px
		p
			padding-left: 15px
			padding-right: 15px
			margin-top: 46px
			font-size: 14px
			line-height: 1.7
		span
			font-size: 14px
	.header_btn
		margin-top: 40px
		a
			display: block
			margin: auto
			&:first-of-type
				margin-right: 0
				margin: 0 auto 20px
			& + a
				display: block
	.header
		background: #fff url('../img/header_bg_768.jpg') center top no-repeat
	.header_title_img
		left: 0
		right: 0
		margin: auto
		img
			width: 349px
			left: 0
			right: 0
			bottom: 16px

	.header_item_circle_wrap
	.header_item_circle
		margin-top: 0
		display: block
		margin-bottom: 50px
		&:last-of-type
			padding-bottom: 80px
	.our_partners
		.customNextBtn
			right: 0
		.customPrevBtn
			left: 0
	h2
		font-size: 24px
		padding-left: 15px
		padding-right: 15px	
	.reliable_service
		.reliable_service_item
			margin-top: 41px
			margin-bottom: 30px
	.reliable_service
		min-height: 940px
	.our_partners 
		.our_partners_img_wheels
			top: -60px
			right: 0
			left: 0
			text-align: center
			img
				width: 320px
		.our_partners_slider
			max-width: 200px
	.intermediate
		.intermediate_wrap
			input[type=submit]
				margin-bottom: 80px
				margin-top: 20px	
	.our_partners
		h2
			margin-top: 200px
		.customPrevBtn
			left: -65px
		.customNextBtn
			right: -65px
	.hydropower_you_can
		h2
			margin-top: 80px
	.hydropower_you_can
		.hydropower_you_can_item
			margin-bottom: 40px
			a
				width: 220px
	.what_customers_think
		h2
			margin-top: 100px
		.what_customers_think_item
			width: 400px
			display: block
			margin: 0 auto 40px
			overflow: hidden
		.what_customers_think_item_txt
			width: 230px
			p
				max-height: 64px
	.map
		#map
			position: static
			width: 100%
			height: 350px
		.map_contacts
			float: left
			padding-left: 30px
	.footer
		.footer_copyright
			display: block
			float: none
			margin-left: 0
		.footer_copyright2
			display: block
			float: none
			a
				margin-right: 10px
		a
			left: 0
	.repair_if_necessary
		.repair_if_necessary_item
			margin-bottom: 70px
	.diagnostics
		h1
			font-size: 27px
			padding-left: 15px
			padding-right: 15px
		p
			font-size: 16px
			padding-left: 15px
			padding-right: 15px
	.buy
		h1
			font-size: 27px
			padding-left: 15px
			padding-right: 15px
		p
			font-size: 16px
			padding-left: 15px
			padding-right: 15px
	.why_wear_out_rail
		&.repair_time
			p
				padding-left: 15px
				padding-right: 15px
				& + p
					padding-left: 15px
					padding-right: 15px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 560px)
	/**/
	.close
		right: 0px	
@media only screen and (max-width : 520px)
	/**/
	
	.dm-modal
		width: 100%
		h3
			font-size: 27px
		p
			font-size: 16px
		form
			padding-left: 15px
			padding-right: 15px

	.dm-modal
		input[type=submit]
			width: 100%
	.popup3
		.dm-modal
			
@media only screen and (max-width : 480px)
	/**/

	.header_title
		h1
			font-size: 26px
	.modal_form_input_wrap
		.modal_input_error
			right: 0px
	.intermediate
		.intermediate_title
			h3
				font-size: 20px
	.what_customers_think
		.what_customers_think_item
			width: 290px
			display: block
			margin: auto
			.what_customers_think_item_txt
				width: 125px
				div.social>a
					font-size: 10px
	.header_title_img
		img
			width: 320px
	
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.container
		width: 1200px



