@import "bourbon"
@import "vars.sass"
@import "sprite/sprite.sass"

// loads Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/owl.carousel/assets/owl.carousel.sass"
@import "../app/libs/FontAwesome/font-awesome.min"
@import "../app/libs/slidebars/slidebars.min"


*::-webkit-input-placeholder
	color: #9a9a9a
	opacity: 1

*:-moz-placeholder
	color: #9a9a9a
	opacity: 1

*::-moz-placeholder
	color: #9a9a9a
	opacity: 1

*:-ms-input-placeholder
	color: #9a9a9a
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
// Оформление слайдбара
[off-canvas]
	transition: transform 0.4s
	overflow: auto
	-webkit-overflow-scrolling: touch
	background-color: #111
[off-canvas*=left]
	width: 250px
[canvas=container]
	background-color: transparent
nav[canvas]
	position: fixed	
	top: 53px
	right: 117px
	display: none
	z-index: 101
nav[canvas=header_top]
	display: block
	width: 100%
	top: 0
	left: 0
	right: 0
	z-index: 100
	transition: 0.5s
	&.fixed
		background-color: rgba(0,0,0,0.5)
		height: 50px
		.header_logo
			margin-top: 14px
			transition: 0.5s
		.header_nav	
			margin-top: 14px
			transition: 0.5s	
[class*=js-open-], [class*=js-toggle-], [class*=js-close-]
	cursor: pointer
[off-canvas]
	ul
		&.menu
			margin: 25px 0 0 0
			padding: 0
			display: block
			list-style: none
			text-align: center
			a
				color: #fff
				font-size: 24px


// Секция our_advantages
.reliable_service
	min-height: 580px
	background-color: #fff
	text-align: center
	h2
		margin-top: 111px
		margin-bottom: 13px
	p
		font-size: 18px
	.reliable_service_item
		margin-top: 63px
		margin-bottom: 55px
		&:nth-of-type(2)
			animation-delay: 0.3s
		&:nth-of-type(3)
			animation-delay: 0.6s
		&:nth-of-type(4)
			animation-delay: 0.9s

		p
			margin-top: 27px
			font-size: 20px
			line-height: 1.2
			text-align: center
		.reliable_service_item_img
			text-align: center
			i
				font-size: 72px
				color: #00b6f4

// Секция intermediate
.intermediate
	min-height: 449px
	background: url('../img/intermediate_bg.jpg') center top no-repeat
	background-size: cover
	background-attachment: fixed
	&.intermediate_bg2
		background: url('../img/intermediate_bg2.jpg') center top no-repeat
		background-size: cover
		background-attachment: fixed
	.intermediate_title		
		h2
			margin: 108px 0 11px
			color: #fff
			span
				color: $main_color
		p
			font-size: 18px
			color: #fff
			text-align: center
			

	.intermediate_wrap
		margin-top: 40px
		form
			text-align: center
			overflow: hidden
			margin-top: 65px
			div
				&:nth-of-type(1)
					animation-delay: 0.3s
				&:nth-of-type(2)
					animation-delay: 0.6s
				&:nth-of-type(3)
					animation-delay: 0.9s
		.intermediate_item
			display: inline-block
			text-align: left
			margin-bottom: 40px
			input
				width: 263px				
				height: 37px
				border: none
				border-bottom: 1px solid #fff
				background: transparent
				color: #9a9a9a
				margin-left: 10px
				padding: 0 0 0 9px
				font-size: 18px
				&::-webkit-input-placeholder
					color: #9a9a9a
				&:-moz-placeholder
					color: #9a9a9a
				&::-moz-placeholder
					color: #9a9a9a
				&:-ms-input-placeholder
					color: #9a9a9a
				&:active
					outline: 0
				&:focus
					outline: 0
					
		input[type=submit]
			@extend %main_btn
			border: none
			margin-top: 7px
			margin-left: 15px
			animation-delay: 1.2s
			&:hover
				@extend %main_btn_hover	
			&:active
				@extend %main_btn_active
			&:focus
				@extend %main_btn_focus
		
	
//	Секция  our_partners
.our_partners
	min-height: 450px
	background-color: #fff
	.container
		position: relative
	h2
		margin-top: 103px
		margin-bottom: 60px
	.our_partners_slider
		max-width: 963px
		margin: 30px auto 0
		position: relative
	.owl-item
		text-align: center
		@extend %flex
		div			
			text-align: center
			display: inline-block			
			img

				
	.customNextBtn
		background: url('../img/our_partners_slider_arrow_right.png') 0 0 no-repeat
		width: 46px
		height: 54px
		position: absolute
		right: -90px
		top: calc(50% - 16px)
		cursor: pointer
		transition: 0.5s
		&:hover
			background: url('../img/our_partners_slider_arrow_right_hover.png') 0 0 no-repeat
	.customPrevBtn
		background: url('../img/our_partners_slider_arrow_left.png') 0 0 no-repeat
		width: 46px
		height: 54px
		position: absolute
		left: -90px
		top: calc(50% - 16px)
		cursor: pointer
		transition: 0.5s
		&:hover
			background: url('../img/our_partners_slider_arrow_left_hover.png') 0 0 no-repeat
	.our_partners_img_wheels
		position: absolute
		top: -100px
		left: -10px
//	Секция select_the_rack
.select_the_rack
	.container
		padding-top: 100px
		h2
			margin-bottom: 65px
		.item_wrap
			margin-bottom: 30px
			.item
				width: 165px
				height: 165px
				display: inline-block
				vertical-align: middle
				margin-left: 13px
				margin-right: 13px
				&:nth-of-type(odd)
					animation-delay: 0.3s
				&:nth-of-type(even)
					animation-delay: 0.6s
				a
					display: flex
					align-items: center
					justify-content: center
					border: 1px solid transparent
					text-decoration: none
					width: 165px
					height: 165px
					transition: all 0.3s ease
					&:hover
						border: 1px solid #ee343b
					img
						display: block
		.select_text
			h3
				font: 24px $font_Lato_Bold
			p
				font: 18px $font_Lato_Light
				margin-bottom: 25px
		.intermediate_wrap
			float: none
			margin-bottom: 90px
			margin-top: 60px
			.select_btn
				display: inline-block
				vertical-align: middle
				a
					text-align: center
					display: block
					text-decoration: none
					@extend %main_btn
					&:hover
						@extend %main_btn_hover
					&:active
						@extend %main_btn_active
					&:focus
						@extend %main_btn_focus
			.select
				width: 263px
				height: 54px
				display: inline-block
				position: relative
				vertical-align: middle
				margin-left: 10px
				.slct_arrow
					position: absolute
					top: 11px
					right: 40px
					.fa
						font-size: 28px
						color: #2f3443
						transform-origin: 50% 50% 0px
						transition: 0.5s
					&.active
						.fa
							color: $main_color
							transform: rotate(180deg)

				.drop
					margin: 0
					padding: 0
					width: 263px
					border: none
					display: none
					position: absolute
					z-index: 2
					text-align: left
					li
						list-style: none
						cursor: pointer
						font: 24px $font_Lato_Bold
						color: #2f3443
						display: block
						padding: 8px 20px
						transition: all 0.3s ease
						&:hover
							color: $main_color
				.slct
					display: block
					border: none
					padding: 12px 20px
					font: 24px $font_Lato_Bold
					color: #2f3443
					text-align: left
					overflow: hidden
					text-decoration: none
					position: relative
					outline: 0
					transition: all 0.3s ease
					&:hover
						color: $main_color


//	Секция hydropower_you_can
.hydropower_you_can
	min-height: 480px
	text-align: center
	background-color: #fff
	h2
		margin-top: 53px
		margin-bottom: 63px
		span
			text-transform: uppercase
			color: $main_color	
	.hydropower_you_can_item
		&:nth-of-type(1)
			animation-delay: 0.3s
		&:nth-of-type(2)
			animation-delay: 0.6s
		&:nth-of-type(3)
			animation-delay: 0.9s
		p
			font-size: 20px
			margin-top: 20px	
		a
			margin-top: 31px
			@extend %main_btn			
			&:hover
				@extend %main_btn_hover	
			&:active
				@extend %main_btn_active
			&:focus
				@extend %main_btn_focus
		.hydropower_you_can_item_img
			height: 90px
			@extend %flex
			align-items: flex-end
			img


		
//	Секция what_customers_think
.what_customers_think
	text-align: center
	background-color: #fff
	h2
		margin-top: 50px
		line-height: 1.3
		span
			color: $main_color
	.what_customers_think_item_wrap
		margin-top: 65px
	.what_customers_think_item_wrap_inner
		overflow: hidden
		padding-top: 5px
		&:last-of-type
			.what_customers_think_item
				&:last-of-type
					margin-bottom: 200px
	.what_customers_think_item
		margin-bottom: 60px
		animation-delay: 0.3s
		&:nth-of-type(2n+1)
			.what_customers_think_item_img
				margin-left: 15px	
		.what_customers_think_item_action
			a
				display: none
		&.close_txt
			.what_customers_think_item_action
				.open_a
					display: inline-block
		&.open_txt
			.what_customers_think_item_action
				.close_a
					display: inline-block

	.what_customers_think_item_img	
		width: 170px
		height: 170px
		margin-right: 25px
		float: left
	.what_customers_think_item_txt
		float: left
		width: 360px
		text-align: left
		h3
			font-size: 24px
			margin: -10px 0 0 0
		p
			margin-top: 10px
			max-height: 110px
			font-size: 14px
			line-height: 1.35
			overflow: hidden
			&.show
				max-height: 100%
		
		div.social
			& > a
				margin-top: 13px
				padding-left: 3px	
				display: inline-block
				font-size: 18px
				color: $main_txt_color
				text-decoration: underline
				transition: 0.5s
				&:hover
					color: $main_color
				&:hover:before
					background: url('../img/what_customers_think_item_txt_img_a_hover.png') 0 0 no-repeat	
				&:before
					content: ""
					width: 21px
					height: 11px
					display: inline-block
					vertical-align: middle
					position: relative
					left: -6px
					background: url('../img/what_customers_think_item_txt_img_a.png') 0 0 no-repeat
					transition: 0.5s

//	Секция map
.map
	min-height: 715px
	position: relative
	background-color: #fff
	#map
		height: 100%
		width: 54.5%
		position: absolute
		top: 0
		left: 0
		z-index: 10
	.map_contacts
		width: 414px
		margin-top: 90px
		float: right
		h2
			margin-top: 20px
			margin-bottom: 56px
			text-align: left
	.map_contacts_item
		margin-bottom: 30px
		&:first-of-type
			i
				margin-right: 14px
		&:nth-of-type(2)
			i
				margin-right: 10px
		&:nth-of-type(3)
			i
				margin-right: 10px
		&:nth-of-type(4)
			i
				margin-right: 7px
		p
			font-size: 20px
			&:first-of-type
				font-size: 18px
				margin-bottom: 4px
				color: $main_color
				padding-left: -7px
				
		a
			font-size: 20px
			color: $main_txt_color
			&:hover
				text-decoration: none
		
//	Секция diagnostics
.diagnostics
	min-height: 730px
	background: url('../img/diagnostics_bg.jpg') center top no-repeat
	text-align: center
	background-attachment: fixed
	&.intermediate
		.intermediate_wrap
			form
				margin-top: 36px
	h1
		color: #fff
		font-size: 48px
		margin-top: 188px
		margin-bottom: 40px
	h2
		color: #fff
		margin-top: 77px
	p
		font-size: 17px
		color: #fff	
	form
		margin-top: 60px

//	Секция why_wear_out_rail
.why_wear_out_rail
	text-align: center
	background-color: #fff
	h2
		margin-top: 128px
		margin-bottom: 60px
	.why_wear_out_rail_item
		margin-bottom: 30px
		height: 358px
		overflow: hidden
		&:nth-of-type(2)
			animation-delay: 0.3s
		&:nth-of-type(3)
			animation-delay: 0.6s
		&:nth-of-type(4)
			animation-delay: 0.9s
		h3
			font-size: 21px
			margin-bottom: 6px
			font-family: $font_Lato_Bold
		p
			font-size: 16px
			line-height: 1.2
//	Секция repair_if_necessary
.repair_if_necessary
	text-align: center
	min-height: 510px
	background-color: #fff
	h2
		margin-top: 92px
		margin-bottom: 60px
	.repair_if_necessary_item
		margin-bottom: 20px
		&:nth-of-type(2)
			animation-delay: 0.2s
		&:nth-of-type(3)
			animation-delay: 0.4s
		&:nth-of-type(4)
			animation-delay: 0.6s
		&:nth-of-type(5)
			animation-delay: 0.8s
		.repair_if_necessary_item_img
			height: 100px
			@extend %flex
		h3
			margin-bottom: 12px
			margin-top: 20px
			@include font(#000, 24px,  $font_Lato_Bold, 1.2)
		p
			font-size: 18px
			line-height: 1.2
//	Секция how_do_we_repair
.how_do_we_repair
	background-color: #fff
	h2
		margin-top: 127px
	.how_do_we_repair_item_wrap
		margin-top: 75px
	.how_do_we_repair_item
		margin-bottom: 75px
		&:nth-of-type(2n+1)
			.how_do_we_repair_item_img
				margin-left: 15px
		&:last-of-type
			margin-bottom: 140px
	.how_do_we_repair_item_img
		float: left
		margin-right: 30px
	.how_do_we_repair_item_txt
		width: 258px
		float: left
		h3
			font-size: 20px
			line-height: 1.1
			margin-top: 0
			position: relative
			z-index: 3
		p
			font-size: 14px
			line-height: 1.32
			height: 147px
			overflow: hidden
		span
			position: absolute
			top: -42px
			left: 0
			z-index: 0
			@include font(#6d6d6d, 90px,  $font_Lato_Bold, 1.2)
			opacity: 0.15

//	Секция repair_time
.why_wear_out_rail
	&.repair_time
		h2
			margin-top: 10px
			margin-bottom: 15px
		p
			max-width: 813px
			margin: 0 auto 40px
			font-size: 18px
			& + p
				max-width: 100%
				font-size: 22px
				margin-bottom: 30px
				color: $main_color
		.why_wear_out_rail_item
			height: 305px
			&:nth-of-type(2)
				animation-delay: 0.2s
			&:nth-of-type(3)
				animation-delay: 0.4s
			&:nth-of-type(4)
				animation-delay: 0.6s
			&:last-of-type
				margin-bottom: 90px
//	Секция buy
.buy
	min-height: 730px
	background: url('../img/buy_bg.jpg') center top no-repeat
	text-align: center
	background-attachment: fixed
	h1
		font-size: 48px
		margin-top: 246px
		margin-bottom: 40px
	p
		font-size: 17px
		color: #fff
	a
		margin-top: 120px
		display: inline-block
		@extend %main_btn
		&:hover
			@extend %main_btn_hover	
		&:active
			@extend %main_btn_active
		&:focus
			@extend %main_btn_focus


//	Секция tips_and_articles
.tips_and_articles
	background-color: #fff 
	h2
		margin-top: 200px
		margin-bottom: 50px
		animation-delay: 0.5s
	.tips_and_articles_item_wrap
		overflow: hidden
		margin-bottom: 20px
	.tips_and_articles_item
		margin-bottom: 50px
		animation-delay: 0.7s
		h3
			margin-top: -5px
			margin-bottom: 12px
			font-size: 24px
			color: $main_txt_color
			font-family: $font_Lato_Bold
	.tips_and_articles_item_img
		float: left
		margin-right: 50px
	.tips_and_articles_item_txt
		width: 650px
		float: left
		p
			height: 168px
			overflow: hidden
			font-size: 18px	
			line-height: 1.2
	.tips_and_articles_item_link
		margin-top: 8px
		a	
			transition: 0.5s
			&:hover
				color: $main_color
	.tips_and_articles_pagination
		margin-bottom: 130px
		text-align: center
		overflow: hidden
		a
			width: 34px
			height: 34px
			margin-right: 5px
			border-radius: 50%
			background-color: $main_txt_color
			display: inline-block
			vertical-align: middle
			font-size: 18px
			line-height: 34px
			color: #fff
			transition: 0.5s
			&:nth-last-child(2)
				margin-right: 0
			&:nth-last-child(1)
				margin-right: 0
			&:hover
				text-decoration: none
				background-color: $main_color
		.active
			background-color: $main_color
		.tips_and_articles_pagination_arrow
			width: 27px
			height: 35px
			border-radius: inherit
			background-color: transparent
		.arrow_left			
			background: url('../img/tips_and_articles_pagination_arrow_left.png') center center no-repeat
			margin-right: 20px
			&:hover
				background-color: transparent
				background: url('../img/tips_and_articles_pagination_arrow_left_hover.png') center center no-repeat
		.arrow_right
			background: url('../img/tips_and_articles_pagination_arrow_right.png') 0 2px no-repeat
			margin-left: 20px
			&:hover
				background-color: transparent
				background: url('../img/tips_and_articles_pagination_arrow_right_hover.png') 0px 2px no-repeat
nav[canvas=header_top]
	&.header_tips_and_articles
		background-color: #000
nav[canvas=header_top].fixed
	&.header_tips_and_articles
		background-color: rgba(0,0,0,.5)

//	Секция
//	Секция
//	Секция


// Секия footer 
.footer
	background-color: #1b1e27
	min-height: 60px
	text-align: center
	.footer_copyright
		float: left
		margin-left: 30px
		margin-top: 18px
		p
			font-size: 14px
			text-transform: uppercase
			color: #fff
	a
		font-size: 14px
		color: #fff
		margin-top: 18px
		display: inline-block
		position: relative
		left: 21px
	.footer_copyright2
		float: right
		span
			font-size: 14px
			color: #fff
		a
			margin-right: 37px
			margin-top: 17px
			left: 0
			&:hover
				text-decoration: none
		img
			position: relative
			left: 5px
//ALWAYS END
@import "media"

